#jupyterlab # Only for dev
#ray # Only for dev
#matplotlib # Only for dev
#twine # Only for pushing to PyPi
#rtree
#bs4 # BeautifulSoup
dash
dash_bootstrap_components
dash_dangerously_set_inner_html
scipy # For gaussian fit
sklearn
geopandas
pandas
numpy
folium # for map display
geopy
requests
shapely
python-swiftclient # To access Open Stack swift
python-keystoneclient # To access Open Stack swift
#nbdev # For generating modules from notebooks
#tqdm #Replaced by fastprogress
fastprogress # Progress bar
# gunicorn # For production