jupyterlab>=3
ipywidgets>=7.6
jupyter-dash
ray # Only for dev
matplotlib # Only for dev
twine # Only for pushing to PyPi
rtree
bs4 # BeautifulSoup
dash
dash_bootstrap_components
dash_dangerously_set_inner_html
scipy
sklearn
geopandas
pandas
numpy
folium # for map display
geopy
requests
shapely
python-swiftclient
python-keystoneclient
nbdev # For generating modules from notebooks
#tqdm #Replaced by fastprogress
fastprogress # Progress bar
gunicorn # For production
netCDF4